cloud_id                 = "b1gtab6f64ej3q1jlgut"
folder_id                = "b1gab7pfm9o4ct34hq7e"
zone                     = "ru-central1-a"
image_id                 = "fd8k5uabl511tluvhm1f"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "e9beo9vrl5i6lvr71ajd"
service_account_key_file = "AQAAAAAGBm3LAATuwWqZ7Pzz2EbHtm8AufKLN4M"
name_yc_id               = "reddit-app-terraform"
db_disk_image            = "fd895d15t8a5lqsigj13"
app_disk_image           = "fd84b3ha80n3v29rhe78"
